:root {
   --cosmic_latte: #F8F4E3;
   --raisin: #22181C;
   --lilac: #B592A0;
   --copper_rose: #9C7178;
   --cadet_blue: #58B4A0;
  }

@font-face {
    font-family: "SixCaps";
    src: url("fonts/six_caps/SixCaps-Regular.ttf")
  }

@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto_mono/RobotoMono-VariableFont_wght.ttf")
  }

  body {
    background-color: var(--cosmic_latte);
  }
  