:root {
   --cosmic_latte: #F8F4E3;
   --raisin: #22181C;
   --lilac: #B592A0;
   --copper_rose: #9C7178;
   --cadet_blue: #58B4A0;
  }

@font-face {
    font-family: "SixCaps";
    src: url("fonts/six_caps/SixCaps-Regular.ttf")
  }

@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto_mono/RobotoMono-VariableFont_wght.ttf")
  }

  body {
    background-color: var(--cosmic_latte);
    font-family:'Roboto','Courier New', Courier, monospace
  }

  h1 {
    font-family: 'SixCaps', 'Arial Narrow Bold', sans-serif;
    font-size: 1500%;
    letter-spacing: 1.5rem;
    text-align: center;
    color: #090C08;
  }

  #email_link{
    text-decoration: underline;
    color: black;
  }

  #email_link:hover{
    color: #a7a5a5;
  }

  #email_link:active{
    color: var(--lilac);
  }

  hr{
    border-top: 3px solid black;
  }
  
  p {
    letter-spacing: 0.5rem;
    font-size: 1.8em;
    height: 1.5em;
    overflow: hidden;
  }

  #navigation{
    width: 99%;
    position: absolute;
    overflow: hidden;
  }
  
  .cnnContents {
    letter-spacing: 0.5rem;
    font-size: 1.8em;
    height: 1.5em;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Roboto';
  }
  
  .marqueeStyle {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 60s linear infinite;
    animation: scrolling-left1 60s linear infinite;
  }
  
  .marqueeStyle2 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 60s linear infinite;
    animation: scrolling-left2 60s linear infinite;
    animation-delay: 30s;
  }
  /* scrolling-left is continuous/repeatly text */
  @keyframes scrolling-left1 {
      0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
        100% {transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
  }
  @keyframes scrolling-left2 {
      0% {transform: translateX(0%);
          -webkit-transform: translateX(0%);}
        100% {transform: translateX(-200%);
            -webkit-transform: translateX(-200%);}
  }
  
  @-webkit-keyframes scrolling-left1 {
      0% {-webkit-transform: translateX(100%);}
        100% {-webkit-transform: translateX(-100%);}
  }
  @-webkit-keyframes scrolling-left2 {
      0% {-webkit-transform: translateX(0%);}
        100% {-webkit-transform: translateX(-200%);}
  }
  
  